---
title: About Making Models FAIR
linkTitle: About
menu:
  main:
    weight: 10

---


{{< blocks/cover title="About Making Models FAIR" image_anchor="bottom" height="min" >}}

{{< /blocks/cover >}}

{{% blocks/lead %}}
The goal of this initiative is to provide capacity-building opportunities to improve the skill, practices, and protocols to make computational models findable, accessible, interoperable, and reusable (FAIR). We have selected a list of highly cited papers in different domains and developed a protocol for making those models FAIR. Our aim is to make over 100 models FAIR, with the help of the modeling community. We will stimulate activities to advance model analysis of those FAIR models using high throughput computing.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa fa-atom" title="What is it?"%}}
A capacity-building, community driven initiative to increase the transparency and reproducibility of a selection of the most highly cited models across the social and ecological sciences. Learn more on the <a href="{{< relref "/docs" >}}">Details page</a>.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-users" title="Why get involved?" %}}
This initiative can be a great way to build your network and meet collaborators, introduce model replication challenges to your students, or simply contribute to a common good by making more models reproducible and interoperable. Learn more on the <a href="{{< relref "/docs/Overview" >}}">Overview page</a>.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-hands-helping" title="How to get started" %}}
Learn about <a href="https://comses.net/education">the FAIR principles</a>, review the <a href="{{< relref "/docs/Process" >}}">Making Models Fair Process</a>, check out the <a href="{{< relref "/docs/Models" >}}">Models list</a>, and <a href="mailto:fair@comses.net">contact us</a> with any questions. Learn more about the steps to get involved on the <a href="{{< relref "/docs/Getting Involved" >}}">Getting Involved page</a>.
{{% /blocks/feature %}}



{{< blocks/section color="white">}}
<div class="col-12">
<h3 class="text-center">This initiative is led by the Network for Computational Modeling in Social and Ecological Sciences (<a href="https://comses.net">CoMSES Net</a>).</h3>
</div>

{{< /blocks/section >}}
