+++
title = "Making Models FAIR"
linkTitle = "Making Models FAIR"

+++

{{< blocks/cover title="Welcome to Making Models FAIR!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://comses.net/education/responsible-practices">
	 What is FAIR? <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs/Models" >}}">
		The Models <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs/Getting Involved" >}}">
		How to Get Involved <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5"><b>A community initiative for making 100+ highly cited models findable, accessible, interoperable, and reusable (FAIR).</b></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="white" %}}
The goal of this initiative is to provide capacity-building opportunities to improve the skill, practices, and protocols to make computational models findable, accessible, interoperable, and reusable (FAIR). We have selected a list of highly cited papers in different domains and developed a protocol for making those models FAIR. Our aim is to make over 100 models FAIR, with the help of the modeling community. We will stimulate activities to advance model analysis of those FAIR models using high throughput computing.
{{% /blocks/lead %}}


{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa fa-lightbulb" title="Learn more!" url="https://comses.net/education/responsible-practices"%}}
What does it mean to be a FAIR model? Learn more from the Network for Computational Modeling in Social and Ecological Sciences ([CoMSES](https://comses.net/)).
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Join us!" url="https://github.com/make-models-fair" %}}
We have set up a GitHub repository to track community-made updates to various highly cited models. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-envelope" title="Contact us!" %}}
Contact <a href="mailto: fair@comses.net">fair@comses.net for more information!
{{% /blocks/feature %}}



{{< /blocks/section >}}
