+++
title = "Making Models FAIR"
linkTitle = "Making Models FAIR"

+++

{{< blocks/cover title="Making computational models FAIR" image_anchor="top" height="full" >}}
<div class="home-hero-content">
	<p class="lead mt-4">A community initiative making more than 100 highly cited models findable, accessible, interoperable, and reusable.</p>
	<div class="home-actions">
		<a class="btn btn-lg btn-primary" href="{{< relref "/docs/models" >}}">
			Browse model catalog <i class="fas fa-arrow-right ms-2" aria-hidden="true"></i>
		</a>
		<a class="btn btn-lg btn-outline-light" href="{{< relref "/docs/getting-involved" >}}">
			How to contribute <i class="fas fa-arrow-right ms-2" aria-hidden="true"></i>
		</a>
		<a class="btn btn-lg btn-link text-white" href="https://comses.net/education/responsible-practices">
			What FAIR means
		</a>
	</div>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="white" %}}
<div class="lead-panel">
<span class="section-kicker">The initiative</span>
<h2>Turn influential models into reusable research infrastructure.</h2>
<p>The goal of this initiative is to build skills, practices, and protocols that make computational models findable, accessible, interoperable, and reusable. Together, the modeling community will improve more than 100 highly cited models and create new opportunities for replication and high-throughput analysis.</p>
</div>
{{% /blocks/lead %}}


{{< blocks/section color="dark" type="row" >}}
{{% blocks/feature icon="fa fa-lightbulb" title="Understand FAIR" url="https://comses.net/education/responsible-practices"%}}
What does it mean to be a FAIR model? Learn more from the Network for Computational Modeling in Social and Ecological Sciences.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Work in the open" url="https://github.com/make-models-fair" %}}
We have set up an organization page on GitHub for this initiative, to track community-made updates to various highly cited models. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-envelope" title="Ask a question" %}}
Contact fair@comses.net for more information.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section type="row" color="info">}}
<div class="section-heading">
<h2>Contributors</h2>
</div>

<div class="organization-grid">

<a href="https://comses.net/" aria-label="Visit CoMSES Net">
{{< imgproc comses Fit "200x200" "CoMSES Net logo" >}}
{{< /imgproc >}}
</a>

</div>

{{< /blocks/section >}}


{{< blocks/section type="row" color="info">}}
<div class="section-heading">
<h2>Supporters</h2>
<p>Supporting organizations are those who endorse the initiative and stimulate participation.</p>
</div>

<div class="organization-grid">

<a href="https://openmodelingfoundation.org" aria-label="Visit the Open Modeling Foundation">
{{< imgproc omf Fit "200x200" "Open Modeling Foundation logo" >}}
{{< /imgproc >}}
</a>

<a href="https://rofasss.org" aria-label="Visit Review of Artificial Societies and Social Simulation">
{{< imgproc rofasss Fit "200x200" "Review of Artificial Societies and Social Simulation logo" >}}
{{< /imgproc >}}
</a>
	
<a href="https://sesmo.org/" aria-label="Visit Socio-Environmental Systems Modelling">
{{< imgproc SESMO-image Fit "200x200" "Socio-Environmental Systems Modelling logo" >}}
{{< /imgproc >}}
</a>

<a href="https://www.jasss.org/" aria-label="Visit the Journal of Artificial Societies and Social Simulation">
{{< imgproc JASSS-image Fit "200x200" "Journal of Artificial Societies and Social Simulation logo" >}}
{{< /imgproc >}}
</a>
</div>

{{< /blocks/section >}}
