{{/*  
  Display a table grouped by domain from a CSV file

  not-so-short shortcode, there has to be a better way to create this 'component'
  but I dont know what it is
*/}}

{{ $src := .Get "src" }}
{{ $delimiter := .Get "delimiter" | default "," }}
{{ $csv := getCSV $delimiter $src }}
{{ $domain := .Get "domain" }}

<table id="model-table">
  <thead>
    <tr>
      <th colspan=2>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fas fa-search"></i>
            </span>
          </div>
        <input
          type="text"
          id="filter"
          placeholder="Filter model list"
          class="form-control"
          onkeyup="filterTable('filter', 'model-table')"
        ></input>
        </div>
      </th>
      <th class="text-center" colspan=5>FAIR Criterion Assessment</th>
    </tr>
    <tr>
      <th>Model Citation</th>
      <th>GitHub Link
        <a href="/docs/getting-involved/checklist">
          <small><i class="fa-regular fa-circle-question -text-blue"></i></small>
        </a>
      </th>
      <th class="text-center th-small">Code Available?</th>
      <th class="text-center th-small">License?</th>
      <th class="text-center th-small">DOI?</th>
      <th class="text-center th-small">Docs?</th>
      <th class="text-center th-small">Clean Code?</th>
    </tr>
  </thead>
  <tbody>
  {{ range $i, $csv := after 1 $csv }}
  {{if in (index . 1) $domain }}
    <tr>
      {{/*  citation  */}}
      <td><small>{{ index $csv 0 }}</small></td>
      {{/*  issue link  */}}
      <td>
        {{ with index $csv 8 }}
          <a href="{{ . }}">
            <i class="fa-brands fa-github -text-dark"></i>
            {{ index $csv 9 }}
            {{ $status := index $csv 7 }}
            {{ if eq $status "Not yet started" }}
              <span class="badge badge-pill -bg-purple">{{ $status }}</span>
            {{ else if eq $status "Looking for collaborators" }}
              <span class="badge badge-pill -bg-warning">{{ $status }}</span>
            {{ else if eq $status "In progress" }}
              <span class="badge badge-pill -bg-teal">{{ $status }}</span>
            {{ else if eq $status "Meets FAIR criteria!" }}
              <span class="badge badge-pill -bg-success">{{ $status }}</span>
            {{ end }}
          </a>
        {{ else }}
          <a
            class="btn btn-dark btn-sm py-0 text-nowrap"
            href="https://github.com/make-models-fair/coordination/issues/new?assignees=kaclaborn%2C+manuvanegas&labels=Not+yet+started&template=add-a-model.md&title={{ index $csv 9 }}"
            target="_blank"
          >
            <i class="fa-brands fa-github"></i>
            Create Issue
          </a>

        {{ end }}
      </td>
      {{/*  code availability  */}}
      <td class="text-center">
        {{ $yesno := index $csv 2 }}
        {{ if eq $yesno "Y" }}
          <span class="badge -bg-teal">Has Code</span>
        {{ else if eq $yesno "N" }}
          <span class="badge -text-gray">No Code</span>
        {{ end }}
      </td>
      {{/*  license  */}}
      <td class="text-center">
        {{ $yesno := index $csv 3 }}
        {{ if eq $yesno "Y" }}
          <span class="badge -bg-teal">Licensed</span>
        {{ else if eq $yesno "N" }}
          <span class="badge -text-gray">No License</span>
        {{ end }}
      </td>
      {{/*  doi  */}}
      <td class="text-center">
        {{ $yesno := index $csv 4 }}
        {{ if eq $yesno "Y" }}
          <span class="badge -bg-teal">Has DOI</span>
        {{ else if eq $yesno "N" }}
          <span class="badge -text-gray">No DOI</span>
        {{ end }}
      </td>
      {{/*  docs  */}}
      <td class="text-center">
        {{ $grade := index $csv 5 }}
        {{ if eq $grade "A" }}
          <span class="badge -bg-teal">{{ $grade }}</span>
        {{ else if eq $grade "B" }}
          <span class="badge -bg-green">{{ $grade }}</span>
        {{ else if eq $grade "C" }}
          <span class="badge -bg-yellow">{{ $grade }}</span>
        {{ else if eq $grade "D" }}
          <span class="badge -bg-warning">{{ $grade }}</span>
        {{ else if eq $grade "E" }}
          <span class="badge -bg-red">{{ $grade }}</span>
        {{ end }}
      </td>
      {{/*  clean code  */}}
      <td class="text-center">
        {{ $grade := index $csv 6 }}
        {{ if eq $grade "A" }}
          <span class="badge -bg-teal">{{ $grade }}</span>
        {{ else if eq $grade "B" }}
          <span class="badge -bg-green">{{ $grade }}</span>
        {{ else if eq $grade "C" }}
          <span class="badge -bg-yellow">{{ $grade }}</span>
        {{ else if eq $grade "D" }}
          <span class="badge -bg-warning">{{ $grade }}</span>
        {{ else if eq $grade "E" }}
          <span class="badge -bg-red">{{ $grade }}</span>
        {{ end }}
      </td>
    </tr>
  {{ end }}
  {{ end }}
  </tbody>
</table>

<script>
  const filterTable = (inputId, tableId) => {
    const filter = document.getElementById(inputId).value.toUpperCase();
    const table = document.getElementById(tableId);
    const rows = table.getElementsByTagName("tr");

    for (const row of rows) {
      const cell = row.getElementsByTagName("td")[0];
      if (cell) {
        const value = cell.textContent || cell.innerText;
        if (value.toUpperCase().indexOf(filter) > -1) {
          row.style.display = "";
        } else {
          row.style.display = "none";
        }
      }
    }
  }
</script>

<style>
  .th-small {
    font-size: 0.75em;
  }
</style>
