<thead>
  <tr>
    <th scope="col">Model citation</th>
    <th scope="col">Coordination
      <a href="{{ (site.GetPage "/docs/getting-involved/checklist").RelPermalink }}" aria-label="Learn how model coordination works">
        <i class="fa-regular fa-circle-question" aria-hidden="true"></i>
      </a>
    </th>
    <th scope="col" class="text-center">Code available?</th>
    <th scope="col" class="text-center">License?</th>
    <th scope="col" class="text-center">DOI?</th>
    <th scope="col" class="text-center">Documentation</th>
    <th scope="col" class="text-center">Clean code</th>
  </tr>
</thead>
