<thead>
  <tr>
    <th colspan=2>
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-search"></i>
          </span>
        </div>
      <input
        type="text"
        id="filter"
        placeholder="Filter model list"
        class="form-control"
        onkeyup="filterTable('filter', 'model-table')"
      ></input>
      </div>
    </th>
    <th class="text-center" colspan=5>FAIR Criterion Assessment</th>
  </tr>
  <tr>
    <th>Model Citation</th>
    <th>GitHub Link
      <a href="/docs/getting-involved/checklist">
        <small><i class="fa-regular fa-circle-question -text-blue"></i></small>
      </a>
    </th>
    <th class="text-center th-small">Code Available?</th>
    <th class="text-center th-small">License?</th>
    <th class="text-center th-small">DOI?</th>
    <th class="text-center th-small">Docs?</th>
    <th class="text-center th-small">Clean Code?</th>
  </tr>
</thead>