<td>
  {{ if .url }}
    <a class="model-coordination-link" href="{{ .url }}">
      <i class="fa-brands fa-github" aria-hidden="true"></i>
      {{ .name }}
      {{ if eq .status "Not yet started" }}
        <span class="badge status-badge status-badge--neutral">{{ .status }}</span>
      {{ else if eq .status "Looking for collaborators" }}
        <span class="badge status-badge status-badge--warning">{{ .status }}</span>
      {{ else if eq .status "In progress" }}
        <span class="badge status-badge status-badge--progress">{{ .status }}</span>
      {{ else if eq .status "Meets FAIR criteria!" }}
        <span class="badge status-badge status-badge--complete">{{ .status }}</span>
      {{ end }}
    </a>
  {{ else }}
    {{ $labels := urlquery "Not yet started, " .domain | safeURL }}
    {{ $template_name := replace .domain " " "-" | lower }}
    {{ $template := urlquery $template_name ".md" | safeURL }}
    {{ $title := urlquery .name | safeURL }}
    {{ $body := urlquery "#### This is the first comment in the issue associated with the following model publication:\n\n### "
      .citation "\n\n<hr>\n\n" "Use this issue for:\n* tracking progress in the making FAIR process"
      "\n* collaborating and dividing tasks" "\n* documenting each step of the process (i.e., when each of the FAIR criteria are met, or any issues you have found in achieving the criteria)"
      "\n\n_Make sure to leave a comment indicating any status changes in the making FAIR process so the yellow label can be updated._"
      | safeURL
    }}
    <a
      class="btn btn-dark btn-sm py-0 text-nowrap"
      href="https://github.com/make-models-fair/coordination/issues/new?labels={{ $labels }}&template={{ $template }}&title={{ $title }}&body={{ $body }}"
      target="_blank"
      rel="noopener"
    >
      <i class="fa-brands fa-github" aria-hidden="true"></i>
      Create Issue
      <span class="visually-hidden"> (opens in a new tab)</span>
    </a>
  {{ end }}
</td>
